body
{	
	/*Get background-image randomically from script*/
	/*background-image: url("images/background_1.jpg");*/
	/*Get background-image randomically from script*/
	font-family: Rockwell, Sans Serif, Verdana;
	user-select: none;
	width: 100vw;
	height: 100vh;
	background-position: center, center;
	background-size: cover;
}

/*animations*/
@keyframes color-blue 
{
  from {color: #222222;}
  to {color: blue;}
}

@keyframes color-bordeaux 
{
  from {color: #222222;}
  to {color: #bc4b51;}
}

@keyframes color-orange 
{
  from {color: #222222;}
  to {color: #fb8500;}
}

@keyframes color-green 
{
  from {color: #222222;}
  to {color: #2a9d8f;}
}
/*animations*/

#card
{	
	/*Display*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/*Style*/
	text-align: center;
	color: #2b2839;
	
	/*Background no transparent*/
	/*background: linear-gradient(#495057,black);*/

	/*Background transparent*/
	background-color: rgba(0,0,0,0.75);

	/*Center horizontal and vertically*/
	position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/*Width-height*/
	min-width: 580px;
	min-height: 850px;
	padding: 10px;
	font-size: 15px;

	/*Border and shadow*/
	border-radius: 20px;
	border: 3px solid #edede9;
	/*
	box-shadow: 20px 20px 18px #004b23;
	*/

}

/*
.card:hover
{
	background-color: #70e000;
}
*/

.avatar
{
	width: 250px;
	height: 250px;
	border: 5px solid blue;
	border-radius: 50%;
}

.div-flex
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

#div-skills
{
	/*
	border-radius: 20px;
	border: 3px solid #edede9;
	*/
	display: none;
	min-width: 250px;
	padding: 15px;
}

.button-style
{
	background-color: transparent;
	font-family: inherit;
	font-size: 20px;
	color: #38b000;
	border: 3px solid #edede9;
	border-radius: 15px;
	cursor: pointer;
	font-size: 40px;
	padding: 3px 6px;
}

/*Hovering not in mobile devices*/
@media (hover: hover){

	.button-style:hover
	{
		background-color: /*rgb(216, 208, 212, 0.70)*/ #6c757d;
	}


}

.no-margin
{
	margin: 0px;
}

.italic
{
	font-style: italic;
}

.text-blue
{
	color: blue;
	animation-name: color-blue;
	animation-duration: 4s;
	font-size: 50px;
	font-weight: bolder;
	margin: 10px 0px 10px 0px;
}

.text-orange
{
	color: #fb8500;
	animation-name: color-orange;
	animation-duration: 4s;
	font-size: 20px;
	margin: 10px 0px 10px 0px;
}

.text-green
{
	color: #2a9d8f;
	animation-name: color-green;
	animation-duration: 4s;
	font-size: 30px;
	margin: 10px 0px 10px 0px;
}

.text-shadow-black
{
	text-shadow: 3px 3px 10px black; 
}

.text-bordeaux
{
	color: #bc4b51;
	animation-name: color-bordeaux;
	animation-duration: 4s;
	font-size: 30px;
	margin: 10px 0px 10px 0px;
}

.text-blue-light
{
	color: #00b4d8;
	font-size: 30px;
}

.text-green-1
{
	color: #ccff33;
	font-size: 25px;
}

.text-green-2
{
	color: #70e000;
	font-size: 25px;
}

.text-green-3
{
	color: #38b000;
	font-size: 25px;
}

.border-blue
{
	border: 1px dotted blue;
}

.footer-text
{
	font-size: 30px;
	color: #a5be00;
	margin: 0px;
}